/* your styles go here */
.date {
  color: #888888;
  margin-top: -10px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: right;
}

.content-column-content p,
.content-column-content li {
  color: #555555;
}

.sidebar-p {
  color: #999999;
}
